
  list-style-type: none;
  background-color:#555;
  width: 100%;
  left:0;
  top: 0;
  margin: 0;
  overflow: hidden;
  position: fixed;
}
li{
  float: left;
}

li a{
  display:block;
  color: white;
  text-decoration: none;
 padding: 14px 50px;
}

li a:hover {
  background-color: antiquewhite;
}

body {
  background-color: skyblue;
}
h1 {
  color: orange;
  background: dark-grey;
  letterspacing: 5px; 
  position:absolute;
    top:-10px;
    left:635px;
}
p{
  color: blue;
  background: black;
}
img{
  width: 50%;
  border: dashed 100px black;
}
